<a href="https://colab.research.google.com/github/mgalaviz1/my_work/blob/main/daskdfmoduleassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dask[dataframe] --upgrade
!pip install dask[complete] --quiet
!pip install dask distributed --upgrade --quiet
!pip install aiohttp --quiet
!pip install dask-ml --quiet

Requirement already up-to-date: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2021.2.0)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (3.13)
Requirement already satisfied, skipping upgrade: numpy>=1.15.1; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.19.5)
Requirement already satisfied, skipping upgrade: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.8.7)
Requirement already satisfied, skipping upgrade: toolz>=0.8.2; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied, skipping upgrade: partd>=0.3.10; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.1.0)
Requirement already satisfied, skipping upgrade: pandas>=0.25.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.1.5)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from fsspec>=0.6.0; extra == "dataframe"->dask[dataframe]) (3.7.0)
Requirement already satisfied, skipping upgrade: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10; extra == "dataframe"->dask[dataframe]) (0.2.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Requirement already satisfied, skipping upgrade: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->fsspec>=0.6.0; extra == "dataframe"->dask[dataframe]) (3.7.4.3)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->fsspec>=0.6.0; extra == "dataframe"->dask[dataframe]) (3.4.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.0; extra == "dataframe"->dask[dataframe]) (1.15.0)

In [2]:
import warnings
warnings.filterwarnings("ignore")

from dask.distributed import Client, progress

client = Client(n_workers=4, threads_per_worker=2, memory_limit='2GB')
client

In [3]:
# DataFrames implement the pandas API
import dask.dataframe as dd

# This loads the data into a Dask DataFrame
df = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/creditcard.csv')

In [4]:
print(df)

Dask DataFrame Structure:
                Time       V1       V2       V3       V4       V5       V6       V7       V8       V9      V10      V11      V12      V13      V14      V15      V16      V17      V18      V19      V20      V21      V22      V23      V24      V25      V26      V27      V28   Amount  Class
npartitions=3
               int64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  int64
                 ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
                 ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
                 ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...    ...
Dask Name: read-csv, 3 tasks

In [5]:
df.dtypes

Time        int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [6]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
df.describe()

Dask DataFrame Structure:
                  Time       V1       V2       V3       V4       V5       V6       V7       V8       V9      V10      V11      V12      V13      V14      V15      V16      V17      V18      V19      V20      V21      V22      V23      V24      V25      V26      V27      V28   Amount    Class
npartitions=1
               float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64
                   ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...
Dask Name: describe-numeric, 344 tasks

In [8]:
# this returns error because lazy eval may require setting datatypes manually as below
df.describe().compute()

ValueError: ignored

In [9]:
 # reading in data again this time specifying data type of Time column
 df = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/creditcard.csv', dtype={'Time': 'float64'})

In [10]:
df.describe().compute()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  1.175161e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     49346.000000 -7.868600e-01  ...       6.840000       0.000000
50%     76029.000000  9.301532e-02  ...      24.990000       0.000000
75%    138472.000000  1.912886e+00  ...      84.910000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [11]:
df2 = df[df['Amount'] > 10000]
df2.compute()

           Time         V1         V2  ...        V28    Amount  Class
46841   42951.0 -23.712839 -42.172688  ...   2.253662  12910.93      0
54018   46253.0 -21.780665 -38.305310  ...   2.082488  11898.09      0
58465   48401.0 -36.802320 -63.344698  ...   3.450224  19656.53      0
30325   95286.0 -34.549296 -60.464618  ...   3.250802  18910.00      0
48486  119713.0 -20.924897 -37.943452  ...   2.001492  11789.84      0
32983  166198.0 -35.548539 -31.850484  ... -15.430084  25691.16      0
42461  172273.0  -9.030538 -11.112584  ...  -2.713136  10199.44      0

[7 rows x 31 columns]

In [12]:
# same as above using .loc

df.loc[df['Amount'] > 10000,:].compute()

           Time         V1         V2  ...        V28    Amount  Class
46841   42951.0 -23.712839 -42.172688  ...   2.253662  12910.93      0
54018   46253.0 -21.780665 -38.305310  ...   2.082488  11898.09      0
58465   48401.0 -36.802320 -63.344698  ...   3.450224  19656.53      0
30325   95286.0 -34.549296 -60.464618  ...   3.250802  18910.00      0
48486  119713.0 -20.924897 -37.943452  ...   2.001492  11789.84      0
32983  166198.0 -35.548539 -31.850484  ... -15.430084  25691.16      0
42461  172273.0  -9.030538 -11.112584  ...  -2.713136  10199.44      0

[7 rows x 31 columns]

In [13]:
df2 = df.groupby('Class')['Amount'].mean().compute()
df2

Class
0     88.291022
1    122.211321
Name: Amount, dtype: float64

In [14]:
# changing values to binary. Dask applies function row by row and each operation is independent of the others

df['Amount2'] = df['Amount'].apply(lambda x: 1 if x > 10000 else 0)
df['Amount2'].head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: Amount2, dtype: int64

In [ ]:
# save to memory
# df = df.persist()

# close Dask
# client.close()

1. How many transactions are there in total?
2. How many transactions are fraud, and how many are not fraud?
3. What is the maximum amount in fraud transactions?

In [17]:
# number of transactions
df.shape[0].compute()

284807

In [19]:
# amount of each class
# 284315 not fraud and 492 fraud transactions
df.Class.value_counts().compute()

0    284315
1       492
Name: Class, dtype: int64

In [23]:
# max fraud amount is 25,691.16
df['Amount'].max().compute()

25691.16