In [1]:
import pandas as pd
#import numpy as np
from sqlalchemy import create_engine
import warnings
import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline

warnings.filterwarnings('ignore')

In [ ]:
#!pip install numpy==1.19.3

#As a workaround, you temporarily pin to NumPy 1.19.3 (`pip install numpy==1.19.3`) which has a fixed version of 
#OpenBLAS that works correctly in Windows 2004/20H2. 
#This fix broken other things (Linux, Windows-on-docker) and so could not be retained in NumPy 1.19.4.

In [2]:
import numpy as np

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from useducation',con=engine)

# No need for an open connection, 
# because you're only doing a single query
engine.dispose()

In [4]:
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

1. Determine all the variable types and find the fraction of the missing values for each variable.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [5]:
# data types are 2 objects, 1 intergers and 22 floats
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [6]:
df.isnull()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,False
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
11,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
13,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
14,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
16,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
17,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
19,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
20,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
21,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
22,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
23,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
24,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
25,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
26,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,True
27,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
28,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
29,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1463,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1464,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1465,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1466,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1467,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1468,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1469,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1470,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1471,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1472,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1473,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1474,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1475,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1476,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1477,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1478,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1479,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1480,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1481,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1482,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1483,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1484,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1485,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1486,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1487,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1488,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1489,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1490,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1491,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False

In [7]:
df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000000,1.229000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.229000e+03,...,1361.000000,1361.000000,1361.00000,1.361000e+03,1.361000e+03,1.319000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,9.159308e+05,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,4.292046e+05,...,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.065280e+06,1.174519e+07,1.145242e+06,5.543072e+06,5.482971e+06,1.197813e+07,6.293004e+06,3.353349e+06,5.340693e+05,...,80293.387625,78910.545776,67889.27623,6.436384e+05,3.077056e+05,9.707031e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.00000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.583140e+05,2.186305e+06,1.893540e+05,1.153097e+06,7.158345e+05,2.165404e+06,1.168032e+06,6.357900e+05,1.028310e+05,...,13739.000000,13342.000000,10919.00000,1.106260e+05,5.147100e+04,1.810650e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,6.483130e+05,5.079546e+06,4.033765e+05,2.537074e+06,2.055780e+06,5.234506e+06,2.657452e+06,1.525406e+06,2.715960e+05,...,43272.000000,43339.000000,36735.00000,3.457750e+05,1.642600e+05,5.503420e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,1.014528e+06,1.085985e+07,8.289660e+05,5.080939e+06,4.768680e+06,1.074519e+07,5.568028e+06,3.229651e+06,5.186000e+05,...,75481.000000,76566.000000,67460.00000,6.119050e+05,2.905020e+05,9.282755e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.00000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

In [8]:
# finding percentages of missing values
df.isnull().sum()*100/df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

ANSWER: The missing data is continuous and mostly in enrollment, the revenue columns and the average columns. If all are the same year, the we can impute the missing enrollments with the mean for the entire dataset. For the revenue and expenditure vars, it makes sense to impute missing values for each with the median since we're looking at money grouped by state because each is missing the same percentage of data, the percentage missing is somewhat small and we don't skew the data especially if we were analyzing revenue against expenditure. For the GRADES variable, the percent missing is even smaller. GRADES would likely be an important variable to analyze and we only have 1492 so we want to keep them and impute a mean by state.  

The remaining AVG variables have the highest percent missing and they are only missing every other grouping. I would impute the missing values by forward filling.

In [ ]:
df.YEAR.unique()

In [9]:
df.YEAR.value_counts()

2004    59
2008    59
1999    59
2000    59
2001    59
2002    59
2003    59
2005    59
2007    59
2006    59
2009    59
2010    58
2011    58
2012    58
2013    58
1998    58
2015    57
1997    57
1996    57
1995    56
1994    56
1993    56
1992    56
2014    56
2016    51
2017    51
Name: YEAR, dtype: int64

In [10]:
df.STATE.value_counts()

DISTRICT_OF_COLUMBIA                        29
VIRGINIA                                    28
MAINE                                       26
CALIFORNIA                                  26
NEVADA                                      26
PENNSYLVANIA                                26
ILLINOIS                                    26
INDIANA                                     26
NEW_JERSEY                                  26
ARKANSAS                                    26
NEW_HAMPSHIRE                               26
ALABAMA                                     26
MINNESOTA                                   26
FLORIDA                                     26
MICHIGAN                                    26
NEW_YORK                                    26
ARIZONA                                     26
VERMONT                                     26
COLORADO                                    26
RHODE_ISLAND                                26
KENTUCKY                                    26
SOUTH_DAKOTA                                26
MONTANA                                     26
GEORGIA                                     26
NORTH_DAKOTA                                26
HAWAII                                      26
DELAWARE                                    26
NEW_MEXICO                                  26
MISSOURI                                    26
NORTH_CAROLINA                              26
                                            ..
NEBRASKA                                    26
GUAM                                        23
PUERTO_RICO                                 23
VIRGIN_ISLANDS                              22
AMERICAN_SAMOA                              22
NORTHERN_MARIANAS                           14
DOD_DOMESTIC                                 8
DOD_OVERSEAS                                 8
BUREAU_OF_INDIAN_AFFAIRS                     6
BI                                           4
DD                                           4
NORTHERN_MARIANA_ISLANDS                     3
COMMONWEALTH_OF_MARIANAS                     3
DOD_-_OVERSEAS                               2
BIE                                          2
DOD_-_DOMESTIC                               2
BUREAU_OF_INDIAN_EDUCATION                   2
MARIANAS                                     1
DEPARTMENT_OF_DEFENSE                        1
DEPARTMENT_OF_DEFENSE_EDUCATION_ACTIVITY     1
AS                                           1
GU                                           1
PR                                           1
DOD                                          1
DOD_-_FOREIGN                                1
DOD_(OVERSEAS_AND_DOMESTIC_COMBINED)         1
VI                                           1
MP                                           1
BUREAU_OF_INDIAN_EDUCATIO                    1
U.S._VIRGIN_ISLANDS                          1
Name: STATE, Length: 80, dtype: int64

In [ ]:
df.head()

In [ ]:
df.sort_values(['YEAR','TOTAL_REVENUE'])

In [ ]:
df['STATE'].sort_values()

3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

ANSWER: For ENROLL, we can impute a mean by year except for the first and last year which are missing all values for ENROLL. We can backfill 1992 and forward fill 2017.  

The revenue columns and the expenditure columns are missing mostly for certain areas in the US so we should remove areas in the US that contain mostly missing values (value counts < 23 because imputing a value would introduce too much error. Remaining nulls in these columns can be imputed with the median since we're dealing with money. OTHER EXPENDITURES column is null for 1992 so we can change those values to zero so that we can still analyze other columns for 1992 but keep in mind that this column can't be used. Revenue and expenditures for 2017 is missing so we should drop the year 2017.

The average columns are missing every other year so we impute the mean for all years since we are missing so much data. We could also choose to drop these missing values and limit our analysis to every other year but I'll choose use the overall mean so that we can still analyze other columns.

In [11]:
df['ENROLL'] = df['ENROLL'].fillna(method='ffill')

In [12]:
df['ENROLL'] = df['ENROLL'].fillna(method='bfill')

In [ ]:
df.isnull().sum()

In [ ]:
df.groupby(['YEAR','STATE'])['TOTAL_REVENUE'].median()

In [48]:
# Dropping states with <= 23 value counts

# dropped_states = ['PUERTO_RICO', 'VIRGIN_ISLANDS','AMERICAN_SAMOA','NORTHERN_MARIANAS','DOD_DOMESTIC','DOD_OVERSEAS'
# ,'BUREAU_OF_INDIAN_AFFAIRS','BI','DD','NORTHERN_MARIANA_ISLANDS','COMMONWEALTH_OF_MARIANAS','DOD_-_OVERSEAS','BIE'
# ,'DOD_-_DOMESTIC','BUREAU_OF_INDIAN_EDUCATION','MARIANAS','DEPARTMENT_OF_DEFENSE','DEPARTMENT_OF_DEFENSE_EDUCATION_ACTIVITY'
# ,'AS','GU','PR','DOD','DOD_-_FOREIGN','DOD_(OVERSEAS_AND_DOMESTIC_COMBINED)','VI','MP','BUREAU_OF_INDIAN_EDUCATIO','U.S._VIRGIN_ISLANDS']                          1

df.drop(df[df['STATE'] == 'U.S._VIRGIN_ISLANDS'].index, inplace=True)

In [ ]:
#dropping YEAR 2017
df.drop(df[df['YEAR'] == 2017].index, inplace=True)

In [74]:
df.groupby('YEAR').agg({'OTHER_EXPENDITURE':'median'})

      OTHER_EXPENDITURE
YEAR
1992            24913.0
1993           147419.0
1994           153540.0
1995           207663.5
1996           216519.5
1997           233118.5
1998           240608.0
1999           247541.0
2000           263027.5
2001           270376.5
2002           282522.0
2003           294360.0
2004           330735.5
2005           339343.0
2006           347621.0
2007           378230.0
2008           397140.0
2009           408292.0
2010           400773.0
2011           377766.5
2012           357434.5
2013           366989.0
2014           389309.5
2015           405674.5
2016           399899.0
2017           956321.0

In [ ]:
# replacing Other Expenditure missing values
df['OTHER_EXPENDITURE'].fillna(value = 248234.784314,inplace=True)

In [75]:
df.groupby('YEAR').agg({'OTHER_EXPENDITURE':'median'})

      OTHER_EXPENDITURE
YEAR
1992            24913.0
1993           147419.0
1994           153540.0
1995           207663.5
1996           216519.5
1997           233118.5
1998           240608.0
1999           247541.0
2000           263027.5
2001           270376.5
2002           282522.0
2003           294360.0
2004           330735.5
2005           339343.0
2006           347621.0
2007           378230.0
2008           397140.0
2009           408292.0
2010           400773.0
2011           377766.5
2012           357434.5
2013           366989.0
2014           389309.5
2015           405674.5
2016           399899.0
2017           956321.0

In [ ]:
df['OTHER_EXPENDITURE'] = df['OTHER_EXPENDITURE'].fillna()

In [50]:
df.STATE.value_counts()

DISTRICT_OF_COLUMBIA    29
VIRGINIA                28
MAINE                   26
COLORADO                26
ARKANSAS                26
NEW_HAMPSHIRE           26
ALABAMA                 26
MINNESOTA               26
FLORIDA                 26
MICHIGAN                26
NEW_YORK                26
CALIFORNIA              26
ARIZONA                 26
RHODE_ISLAND            26
NEW_JERSEY              26
KENTUCKY                26
SOUTH_DAKOTA            26
MONTANA                 26
GEORGIA                 26
NORTH_DAKOTA            26
HAWAII                  26
DELAWARE                26
NEW_MEXICO              26
MISSOURI                26
NORTH_CAROLINA          26
INDIANA                 26
ILLINOIS                26
PENNSYLVANIA            26
CONNECTICUT             26
LOUISIANA               26
WEST_VIRGINIA           26
KANSAS                  26
WASHINGTON              26
MISSISSIPPI             26
NEBRASKA                26
OHIO                    26
TEXAS                   26
UTAH                    26
OREGON                  26
TENNESSEE               26
NEVADA                  26
WYOMING                 26
SOUTH_CAROLINA          26
WISCONSIN               26
MARYLAND                26
IOWA                    26
OKLAHOMA                26
MASSACHUSETTS           26
VERMONT                 26
IDAHO                   26
ALASKA                  26
GUAM                    23
Name: STATE, dtype: int64

In [ ]:
# percentages of missing values
df.isnull().sum()*100/df.isnull().count()

In [49]:
df.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                            0
TOTAL_REVENUE                    74
FEDERAL_REVENUE                  74
STATE_REVENUE                    74
LOCAL_REVENUE                    74
TOTAL_EXPENDITURE                74
INSTRUCTION_EXPENDITURE          74
SUPPORT_SERVICES_EXPENDITURE     74
OTHER_EXPENDITURE               125
CAPITAL_OUTLAY_EXPENDITURE       74
GRADES_PK_G                     118
GRADES_KG_G                     107
GRADES_4_G                      107
GRADES_8_G                      107
GRADES_12_G                     107
GRADES_1_8_G                    107
GRADES_9_12_G                   107
GRADES_ALL_G                    118
AVG_MATH_4_SCORE                818
AVG_MATH_8_SCORE                822
AVG_READING_4_SCORE             821
AVG_READING_8_SCORE             856
dtype: int64

In [ ]:
# finding percentages of missing values
df.isnull().sum()*100/df.isnull().count()

In [ ]:
df.groupby('YEAR').agg({'OTHER_EXPENDITURE':'mean'})

In [ ]:
df.columns

In [ ]:
df["AVG_MATH_4_SCORE"].fillna(df["AVG_MATH_4_SCORE"].mean(), inplace=True)
df["AVG_MATH_8_SCORE"].fillna(df["AVG_MATH_8_SCORE"].mean(), inplace=True)
df["AVG_READING_4_SCORE"].fillna(df["AVG_READING_4_SCORE"].mean(), inplace=True)
df["AVG_READING_8_SCORE"].fillna(df["AVG_READING_8_SCORE"].mean(), inplace=True)

In [13]:
# finding percentages of missing values
df.isnull().sum()*100/df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [ ]:
df.groupby(['YEAR','STATE'])['TOTAL_REVENUE'].median()

In [ ]:
# checking in any rows have all values missing
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
# dropping any remaining minor null values
# df.dropna(how='all').shape

In [ ]:
df.columns

In [ ]:
# replacing missing values in GRADES columns with mean of that year

df['GRADES_PK_G'] = df.groupby('YEAR').GRADES_PK_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_KG_G'] = df.groupby('YEAR').GRADES_KG_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_4_G'] = df.groupby('YEAR').GRADES_4_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_8_G'] = df.groupby('YEAR').GRADES_8_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_1_8_G'] = df.groupby('YEAR').GRADES_1_8_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_9_12_G'] = df.groupby('YEAR').GRADES_9_12_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_ALL_G'] = df.groupby('YEAR').GRADES_ALL_G.transform(lambda x: x.fillna(x.mean()))
df['GRADES_12_G'] = df.groupby('YEAR').GRADES_12_G.transform(lambda x: x.fillna(x.mean()))

#'GRADES_KG_G','GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G','GRADES_9_12_G', 'GRADES_ALL_G'

In [ ]:
# checking in any rows have all values missing
df.isnull().sum()

Q3. This time, fill in the missing values using interpolation (extrapolation).

ANSWER:  We can interpolate for all missing values in the columns except that US territories or areas not part of the 50 US states should be removed because they are missing 64% of their values. For revenue and expenditures they're missing all values so it would be best to remove them. The remaining columns with missing values will be interpolated because the data is ordered by year or ordered by trends in time.

In [14]:
df.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'],
      dtype='object')

In [16]:
# interpolating enrollment column
df["ENROLL"] = df["ENROLL"].interpolate(method='time')

In [51]:
df['ENROLL'].isnull().sum()

0

In [56]:
# interpolating revenue columns
df["TOTAL_REVENUE"] = df["TOTAL_REVENUE"].interpolate(method='ffill')
df["FEDERAL_REVENUE"] = df["FEDERAL_REVENUE"].interpolate(method='ffill')
df["STATE_REVENUE"] = df["STATE_REVENUE"].interpolate(method='ffill')
df["LOCAL_REVENUE"] = df["LOCAL_REVENUE"].interpolate(method='ffill')

In [57]:
df.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                            0
TOTAL_REVENUE                     0
FEDERAL_REVENUE                   0
STATE_REVENUE                     0
LOCAL_REVENUE                     0
TOTAL_EXPENDITURE                74
INSTRUCTION_EXPENDITURE          74
SUPPORT_SERVICES_EXPENDITURE     74
OTHER_EXPENDITURE               125
CAPITAL_OUTLAY_EXPENDITURE       74
GRADES_PK_G                     118
GRADES_KG_G                     107
GRADES_4_G                      107
GRADES_8_G                      107
GRADES_12_G                     107
GRADES_1_8_G                    107
GRADES_9_12_G                   107
GRADES_ALL_G                    118
AVG_MATH_4_SCORE                818
AVG_MATH_8_SCORE                822
AVG_READING_4_SCORE             821
AVG_READING_8_SCORE             856
dtype: int64

In [62]:
# interpolating expenditure columns
df["TOTAL_EXPENDITURE"] = df["TOTAL_EXPENDITURE"].interpolate(method='ffill')
df["INSTRUCTION_EXPENDITURE"] = df["INSTRUCTION_EXPENDITURE"].interpolate(method='ffill')
df["SUPPORT_SERVICES_EXPENDITURE"] = df["SUPPORT_SERVICES_EXPENDITURE"].interpolate(method='ffill')
df["OTHER_EXPENDITURE"] = df["OTHER_EXPENDITURE"].interpolate(method='ffill')
df["CAPITAL_OUTLAY_EXPENDITURE"] = df["CAPITAL_OUTLAY_EXPENDITURE"].interpolate(method='ffill')

In [67]:
df.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                            0
TOTAL_REVENUE                     0
FEDERAL_REVENUE                   0
STATE_REVENUE                     0
LOCAL_REVENUE                     0
TOTAL_EXPENDITURE                 0
INSTRUCTION_EXPENDITURE           0
SUPPORT_SERVICES_EXPENDITURE      0
OTHER_EXPENDITURE                 0
CAPITAL_OUTLAY_EXPENDITURE        0
GRADES_PK_G                       0
GRADES_KG_G                       0
GRADES_4_G                        0
GRADES_8_G                        0
GRADES_12_G                       0
GRADES_1_8_G                      0
GRADES_9_12_G                     0
GRADES_ALL_G                      0
AVG_MATH_4_SCORE                818
AVG_MATH_8_SCORE                822
AVG_READING_4_SCORE             821
AVG_READING_8_SCORE             856
dtype: int64

In [64]:
df["OTHER_EXPENDITURE"] = df["OTHER_EXPENDITURE"].interpolate(method='bfill')

In [66]:
# interpolating grades columns
df["GRADES_PK_G"] = df["GRADES_PK_G"].interpolate(method='ffill')
df["GRADES_KG_G"] = df["GRADES_KG_G"].interpolate(method='ffill')
df["GRADES_4_G"] = df["GRADES_4_G"].interpolate(method='ffill')
df["GRADES_8_G"] = df["GRADES_8_G"].interpolate(method='ffill')
df["GRADES_12_G"] = df["GRADES_12_G"].interpolate(method='ffill')
df["GRADES_1_8_G"] = df["GRADES_1_8_G"].interpolate(method='ffill')
df["GRADES_9_12_G"] = df["GRADES_9_12_G"].interpolate(method='ffill')
df["GRADES_ALL_G"] = df["GRADES_ALL_G"].interpolate(method='ffill')

In [72]:
df.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

In [71]:
# interpolating average grades columns
df["AVG_MATH_4_SCORE"] = df["AVG_MATH_4_SCORE"].interpolate(method='ffill')
df["AVG_MATH_8_SCORE"] = df["AVG_MATH_8_SCORE"].interpolate(method='ffill')
df["AVG_READING_4_SCORE"] = df["AVG_READING_4_SCORE"].interpolate(method='ffill')
df["AVG_READING_8_SCORE"] = df["AVG_READING_8_SCORE"].interpolate(method='bfill')

In [73]:
df.head(100)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,89711.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,258.859712
1,1992_ALASKA,ALASKA,1992,89711.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,208.327876,252.187522,207.963517,258.859712
2,1992_ARIZONA,ARIZONA,1992,89711.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,89711.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,89711.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,264.619665
5,1992_COLORADO,COLORADO,1992,89711.0,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,...,50648.0,45025.0,34533.0,394904.0,160299.0,562613.0,221.023429,272.398433,213.480890,266.419687
6,1992_CONNECTICUT,CONNECTICUT,1992,89711.0,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,...,38058.0,33691.0,28366.0,304284.0,126917.0,436932.0,226.798480,273.739345,222.417599,264.713904
7,1992_DELAWARE,DELAWARE,1992,89711.0,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,...,8272.0,8012.0,6129.0,67495.0,28338.0,96296.0,217.899972,262.868585,206.389052,261.577921
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,89711.0,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,...,5832.0,5000.0,3433.0,47009.0,18173.0,70000.0,192.600553,234.924621,178.557612,265.976765
9,1992_FLORIDA,FLORIDA,1992,89711.0,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,...,164416.0,142372.0,100835.0,1276685.0,511557.0,1819706.0,213.689751,259.908848,204.882606,262.118986
10,1992_GEORGIA,GEORGIA,1992,89711.0,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,...,99648.0,92374.0,63646.0,787599.0,315539.0,1106441.0,215.594906,259.359434,206.844175,262.118986
11,1992_HAWAII,HAWAII,1992,89711.0,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,...,13754.0,11750.0,9051.0,107242.0,43882.0,151649.0,214.056666,257.410887,200.880272,262.118986
12,1992_IDAHO,IDAHO,1992,89711.0,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,...,18607.0,18880.0,14593.0,146573.0,66541.0,214345.0,221.562534,275.090294,200.880272,262.118986
13,1992_ILLINOIS,ILLINOIS,1992,89711.0,9748650.0,597077.0,3073178.0,6078395.0,9850560.0,5010400.0,...,133120.0,134317.0,106475.0,1111167.0,495562.0,1646411.0,221.562534,275.090294,200.880272,262.118986
14,1992_INDIANA,INDIANA,1992,89711.0,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,...,73760.0,75477.0,62234.0,601890.0,278161.0,883276.0,221.037742,270.098944,219.763258,262.118986
15,1992_IOWA,IOWA,1992,89711.0,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,...,37692.0,36892.0,33057.0,299253.0,138907.0,442752.0,229.884078,283.360009,222.852939,262.118986
16,1992_KANSAS,KANSAS,1992,89711.0,2245348.0,121625.0,903199.0,1220524.0,2234915.0,1165749.0,...,36013.0,33288.0,26706.0,284143.0,120960.0,407494.0,229.884078,283.360009,222.852939,262.118986
17,1992_KENTUCKY,KENTUCKY,1992,89711.0,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,...,49666.0,49993.0,38029.0,400849.0,181786.0,597199.0,215.048158,262.241282,211.562307,262.118986
18,1992_LOUISIANA,LOUISIANA,1992,89711.0,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,...,61125.0,55942.0,38368.0,490112.0,196891.0,698442.0,204.140211,249.983926,196.762268,262.118986
19,1992_MAINE,MAINE,1992,89711.0,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,...,17154.0,15969.0,13882.0,135320.0,59289.0,195882.0,231.638840,278.635384,228.380027,262.118986
20,1992_MARYLAND,MARYLAND,1992,89711.0,4658498.0,228336.0,1778834.0,2651328.0,4698374.0,2628891.0,...,60287.0,52815.0,40426.0,472622.0,189795.0,678498.0,217.317708,264.825493,209.645497,262.118986
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,89711.0,5517659.0,273946.0,1439051.0,3804662.0,5245560.0,2751871.0,...,66822.0,60702.0,52425.0,536029.0,230299.0,777050.0,226.597918,272.783201,223.160076,262.118986
22,1992_MICHIGAN,MICHIGAN,1992,89711.0,9963137.0,537917.0,2539380.0,6885840.0,10170688.0,4681327.0,...,118963.0,114282.0,90655.0,968910.0,419351.0,1398802.0,219.878352,267.353194,223.160076,262.118986
23,1992_MINNESOTA,MINNESOTA,1992,89711.0,4684684.0,194092.0,2380754.0,2109838.0,4981125.0,2534882.0,...,62606.0,59810.0,53813.0,500938.0,224426.0,731758.0,228.493596,282.392205,218.301709,262.118986
24,1992_MISSISSIPPI,MISSISSIPPI,1992,89711.0,1684706.0,277706.0,901199.0,505801.0,1691990.0,956104.0,...,39839.0,38132.0,26328.0,321614.0,129554.0,451986.0,201.828261,246.458035,201.529328,262.118986
25,1992_MISSOURI,MISSOURI,1992,89711.0,4043682.0,255194.0,1903124.0,1885364.0,4197600.0,2168135.0,...,67098.0,64546.0,50534.0,531337.0,235437.0,785722.0,222.215600,271.131545,216.898079,262.118986
26,1992_MONTANA,MONTANA,1992,89711.0,828983.0,69947.0,337455.0,421581.0,781009.0,412219.0,...,12839.0,12124.0,10019.0,102124.0,44449.0,147127.0,222.215600,271.131545,222.301419,262.118986
27,1992_NEBRASKA,NEBRASKA,1992,89711.0,1542413.0,85423.0,492256.0,964734.0,1534046.0,909159.0,...,22133.0,21379.0,18999.0,177432.0,79975.0,260541.0,225.332648,277.654523,220.034963,262.118986
28,1992_NEVADA,NEVADA,1992,89711.0,1097076.0,45018.0,724032.0,328026.0,1251651.0,572623.0,...,18487.0,16250.0,12242.0,145687.0,57605.0,204330.0,225.332648,277.654523,220.034963,262.118986
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,89711.0,1063391.0,31020.0,86296.0,946075.0,1066647.0,581123.0,...,15611.0,13537.0,10752.0,123475.0,47999.0,172479.0,229.664564,278.216326,223.466140,262.118986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1993_LOUISIANA,LOUISIANA,1993,795719.0,3438321.0,397206.0,1876967.0,1164148.0,3427102.0,1898515.0,...,60077.0,56522.0,39826.0,485035.0,202283.0,700175.0,225.377592,275.080076,221.185556,262.118986
71,1993_MAINE,MAINE,1993,211511.0,1368095.0,77440.0,652164.0,638491.0,1321846.0,809278.0,...,17237.0,15844.0,13446.0,135445.0,59632.0,196113.0,225.377592,275.080076,221.185556,262.118986
72,1993_MARYLAND,MARYLAND,1993,751850.0,4918010.0,252211.0,1940713.0,2725086.0,4898895.0,2785206.0,...,61199.0,55285.0,40661.0,484461.0,197072.0,699517.0,225.377592,275.080076,221.185556,262.118986
73,1993_MASSACHUSETTS,MASSACHUSETTS,1993,862495.0,6121612.0,305113.0,1924321.0,3892178.0,5679261.0,3237228.0,...,69111.0,62412.0,51309.0,548850.0,232208.0,794236.0,225.377592,275.080076,221.185556,262.118986
74,2016_OKLAHOMA,OKLAHOMA,2016,672777.0,6103728.0,689756.0,2909651.0,2504321.0,6184152.0,3047217.0,...,69111.0,62412.0,51309.0,548850.0,232208.0,794236.0,225.377592,275.080076,221.185556,262.118986
75,1993_MICHIGAN,MICHIGAN,1993,1600650.0,11034174.0,594226.0,3326748.0,7113200.0,11430958.0,5411969.0,...,120049.0,116702.0,87447.0,973756.0,423081.0,1408541.0,225.377592,275.080076,221.185556,262.118986
76,1993_MINNESOTA,MINNESOTA,1993,781566.0,4862635.0,213724.0,2284106.0,2364805.0,5290504.0,2756415.0,...,63194.0,63105.0,54642.0,507979.0,233253.0,747888.0,225.377592,275.080076,221.185556,262.118986
77,1993_MISSISSIPPI,MISSISSIPPI,1993,329408.0,1170109.0,174870.0,612301.0,382938.0,1167032.0,652571.0,...,39236.0,39815.0,26156.0,319394.0,131112.0,452703.0,225.377592,275.080076,221.185556,262.118986
78,1993_MISSOURI,MISSOURI,1993,834636.0,4196601.0,271548.0,1939230.0,1985823.0,4234845.0,2229886.0,...,66445.0,66371.0,50195.0,536039.0,241874.0,791863.0,225.377592,275.080076,221.185556,262.118986
79,1993_MONTANA,MONTANA,1993,158875.0,813998.0,74386.0,445532.0,294080.0,833435.0,446245.0,...,12967.0,12834.0,10325.0,103488.0,46111.0,150082.0,225.377592,275.080076,221.185556,262.118986
80,1993_NEBRASKA,NEBRASKA,1993,281354.0,1625242.0,94308.0,509432.0,1021502.0,1642376.0,972575.0,...,22391.0,22611.0,18578.0,178475.0,81671.0,263723.0,225.377592,275.080076,221.185556,262.118986
81,1993_NEVADA,NEVADA,1993,222846.0,1148268.0,52876.0,753277.0,342115.0,1265367.0,611914.0,...,19305.0,17825.0,12749.0,153912.0,60727.0,215876.0,225.377592,275.080076,221.185556,262.118986
82,1993_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1993,177722.0,1109743.0,34680.0,84342.0,990721.0,1091814.0,611158.0,...,15630.0,14118.0,10635.0,126173.0,49098.0,176563.0,225.377592,275.080076,221.185556,262.118986
83,1993_NEW_JERSEY,NEW_JERSEY,1993,653488.0,6747567.0,331924.0,3104597.0,3311046.0,6641624.0,3676378.0,...,84767.0,79459.0,64402.0,685132.0,288263.0,982620.0,225.377592,275.080076,221.185556,262.118986
84,1993_NEW_MEXICO,NEW_MEXICO,1993,281407.0,1217194.0,154018.0,897725.0,165451.0,1223185.0,587753.0,...,24182.0,24899.0,16767.0,200631.0,87768.0,290332.0,225.377592,275.080076,221.185556,262.118986
85,1993_NEW_YORK,NEW_YORK,1993,2663637.0,22688753.0,1276362.0,8848470.0,12563921.0,23934282.0,14029639.0,...,198259.0,188274.0,143055.0,1608489.0,743933.0,2384109.0,225.377592,275.080076,221.185556,262.118986
86,1993_NORTH_CAROLINA,NORTH_CAROLINA,1993,1112636.0,5583166.0,433602.0,3388466.0,1761098.0,5475174.0,3037814.0,...,85989.0,86093.0,60856.0,705410.0,305060.0,1018939.0,225.377592,275.080076,221.185556,262.118986
87,1993_NORTH_DAKOTA,NORTH_DAKOTA,1993,118793.0,580148.0,56254.0,243783.0,280111.0,588983.0,310940.0,...,9266.0,9329.0,8066.0,74760.0,35000.0,110375.0,225.377592,275.080076,221.185556,262.118986
88,1993_OHIO,OHIO,1993,1834239.0,10841606.0,509488.0,4156070.0,6176048.0,10385253.0,5522474.0,...,136317.0,141534.0,111932.0,1127686.0,517122.0,1662018.0,225.377592,275.080076,221.185556,262.118986
89,1993_OKLAHOMA,OKLAHOMA,1993,312817.0,1436505.0,99809.0,802783.0,533913.0,1428916.0,726475.0,...,48242.0,46153.0,34744.0,389548.0,162511.0,557515.0,225.377592,275.080076,221.185556,262.118986
90,1993_OREGON,OREGON,1993,509814.0,3141217.0,196584.0,1180698.0,1763935.0,3149126.0,1712282.0,...,41290.0,39500.0,32828.0,327629.0,147819.0,476285.0,225.377592,275.080076,221.185556,262.118986
91,1993_PENNSYLVANIA,PENNSYLVANIA,1993,1719829.0,12269422.0,695807.0,4781408.0,6792207.0,12809067.0,6856146.0,...,131575.0,130209.0,107244.0,1079271.0,496382.0,1579834.0,225.377592,275.080076,221.185556,262.118986
92,1993_RHODE_ISLAND,RHODE_ISLAND,1993,138939.0,919594.0,46215.0,351512.0,521867.0,901540.0,588044.0,...,11603.0,10650.0,8094.0,92255.0,38470.0,131190.0,225.377592,275.080076,221.185556,262.118986
93,1993_SOUTH_CAROLINA,SOUTH_CAROLINA,1993,631613.0,3031112.0,277419.0,1419961.0,1333732.0,2994038.0,1592384.0,...,50357.0,50591.0,33949.0,414217.0,176745.0,598206.0,225.377592,275.080076,221.185556,262.118986
94,1993_SOUTH_DAKOTA,SOUTH_DAKOTA,1993,107050.0,465650.0,52787.0,120851.0,292012.0,481665.0,265549.0,...,11086.0,11427.0,8936.0,89480.0,39971.0,130063.0,225.377592,275.080076,221.185556,262.118986
95,1993_TENNESSEE,TENNESSEE,1993,844668.0,3268642.0,334410.0,1535027.0,1399205.0,3286481.0,1969619.0,...,65646.0,64124.0,47668.0,534579.0,236542.0,780663.0,225.377592,275.080076,221.185556,262.118986
96,1993_TEXAS,TEXAS,1993,3535333.0,20267205.0,1233446.0,9919561.0,9114198.0,18574871.0,8914245.0,...,284394.0,274208.0,178889.0,2291961.0,927209.0,3339616.0,225.377592,275.080076,221.185556,262.118986
97,1993_UTAH,UTAH,1993,462323.0,1638305.0,116791.0,928596.0,592918.0,1665011.0,881924.0,...,35467.0,38031.0,31692.0,287657.0,137235.0,427582.0,225.377592,275.080076,221.185556,262.118986
98,1993_VERMONT,VERMONT,1993,97454.0,837540.0,34179.0,216778.0,586583.0,809853.0,405876.0,...,8457.0,7496.0,6227.0,65038.0,27377.0,94439.0,225.377592,275.080076,221.185556,262.118986
99,1993_VIRGINIA,VIRGINIA,1993,1032842.0,5918536.0,365601.0,2358711.0,3194224.0,5955333.0,3121277.0,...,81615.0,78443.0,60314.0,652886.0,278009.0,934081.0,225.377592,275.080076,221.185556,262.118986

In [76]:
df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1354.000000,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,1.354000e+03,...,1354.000000,1354.000000,1354.000000,1.354000e+03,1.354000e+03,1.354000e+03,1354.000000,1354.000000,1354.000000,1354.000000
mean,2004.502216,9.182370e+05,9.830376e+06,8.122931e+05,4.470618e+06,4.547465e+06,9.907614e+06,5.138865e+06,2.916065e+06,4.404789e+05,...,64884.987445,64620.976366,54677.895126,5.220470e+05,2.487779e+05,7.891371e+05,234.389232,279.102824,220.682560,262.568092
std,7.485215,1.039263e+06,1.187122e+07,1.131801e+06,5.505937e+06,5.665658e+06,1.205920e+07,6.338252e+06,3.420087e+06,5.284729e+05,...,80422.622299,79037.430575,67965.993813,6.446954e+05,3.080847e+05,9.645945e+05,9.578056,7.832439,5.777825,6.122645
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,2193.000000,1485.000000,484.000000,1.819600e+04,2.758000e+03,2.455400e+04,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.118078e+05,2.274300e+06,1.951748e+05,1.215930e+06,7.635780e+05,2.270249e+06,1.238777e+06,6.848360e+05,9.403525e+04,...,13642.250000,13228.250000,10853.500000,1.094928e+05,5.083575e+04,1.694818e+05,225.377592,275.080076,219.010780,258.108365
50%,2005.000000,6.606715e+05,5.544502e+06,4.408520e+05,2.741092e+06,2.240796e+06,5.637836e+06,2.865617e+06,1.636668e+06,2.780130e+05,...,43117.000000,43430.000000,37319.500000,3.446885e+05,1.701055e+05,5.348650e+05,237.326270,277.472348,221.185556,262.118986
75%,2011.000000,1.193205e+06,1.239841e+07,9.743288e+05,5.962061e+06,5.839841e+06,1.234903e+07,6.300593e+06,3.709028e+06,5.638142e+05,...,75690.750000,77119.750000,67632.250000,6.133735e+05,2.918508e+05,9.196878e+05,242.542822,286.104034,223.619939,267.586767
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

Filling in missing enrollments using interpolation seemed to detect the temporal trends in the data much more than using the mean for the year, however, values tended to be more extreme max and mins. Values for more of the missing data in the average columns tended to be higher as well but more in line with trends by year.